/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img8.jpg');
    color: #fff;
  }
  header {
    background: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    text-align-last: left;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    color: #fff;
    text-emphasis-color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
    font-size: larger;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

  .about-section {
    padding: 20px;
    font-size: xx-large;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-section {
    padding: 20px;
    flex: 1;
  }
  
  .footer-section h2 {
    color: #fff;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 10px;
    background-color: #222;
  }
  
  .footer-bottom p {
    margin: 0;
  }